.appointment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-container {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.header-row {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.data-row {
  border-bottom: 1px solid #000;
}

.actions-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.actions-column > * {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .table {
    min-width: 800px;
  }
}

.card-description {
  max-height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-image {
  height: 200px; /* Establece la altura deseada */
  object-fit: cover;
}
.estado-amarillo {
  color: white;
  background-color: yellow;
  text-transform: uppercase;
  font-weight: bold;
}

.estado-verde {
  color: white;
  background-color: rgb(154, 222, 154);
  text-transform: uppercase;
  font-weight: bold;
}
